.app-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  background: linear-gradient(90deg, #007bff, #6610f2);
  color: white;
  padding: 10px 20px;              
  border-radius: 8px;
}

.app-header h1 {
  font-size: 1.5rem;               
  margin: 0;
}

.cart-btn {
  background-color: white;
  color: #007bff;
  border: none;
  padding: 8px 14px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-btn:hover {
  background-color: #e6e6e6;
}
.app-footer {
    text-align: center;
    background-color: #222;
    color: #bbb;
    padding: 15px 0;
    margin-top: 30px;
    border-radius: 8px;
}
.product-section {
    margin: 20px auto;
    /* max-width: 100vh; */
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.product-section app-product-card {
    flex: 1 1 calc(25% - 20px); 
    max-width: 300px;
}


@media (max-width: 1024px) {
    .product-section app-product-card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .product-section app-product-card {
        flex: 1 1 100%;
    }
}